<div class="tabs">
  <p class="tabs-header">
    <a href="#item-1-{{suffix}}" title="" class="js-tab">tabs 1</a>
    <a href="#item-2-{{suffix}}" title="" class="js-tab">tabs 2</a>
    <a href="#item-3-{{suffix}}" title="" class="js-tab">tabs 3</a>
    <a href="#item-4-{{suffix}}" title="" class="js-tab">tabs 4</a>
  </p>

  <div class="tabs-contents">
    <div class="tabs-content js-tabs-content" id="item-1-{{suffix}}">
      {{> wysiwyg/simple-lorem title = "title 1"}}
    </div>

    <div class="tabs-content js-tabs-content" id="item-2-{{suffix}}">
      {{> wysiwyg/simple-lorem title = "title 21"}}
      {{> wysiwyg/simple-lorem title = "title 22"}}
      {{> wysiwyg/simple-lorem title = "title 23"}}
    </div>

    <div class="tabs-content js-tabs-content" id="item-3-{{suffix}}">
      {{> wysiwyg/simple-lorem title = "title 3"}}
      {{> wysiwyg/simple-lorem title = "title 3"}}
    </div>

    <div class="tabs-content js-tabs-content" id="item-4-{{suffix}}">
      {{> wysiwyg/simple-lorem title = "title 4"}}
    </div>
  </div>
</div>
