{{!--
* reverse: will reverse flex order, ignore on mobile
* noSpacerBottom: remove margin bottom ussualy use before reverse
* vertical: set true for vertical image text
* overlay: set true to show text overlay on hover image, required vertical true on panel, auto reverse false, background null
* thumbnail: square bg image for side panel
* background: detail background-color
* title: h2 title
* link: target link
* smallTitle: set true to use small title
* subTitle: subtitle text
* subTitleLink: sub title target link
* text: description text, text area non rich text
* buttonText: text on cta button, use same link as title
* buttonLink: button link target, will use link as default if buttonLink not set
* buttonClass: css modifier for button
* footer: display footer item with price, discount, rating, button
* price: product price, automaticaly set line trough if discount exist
* discPrice: product price after discount
* discount: discount text ie: 0% off
* rating: product rating 0 - 5, increament 0.5
--}}
<div class="row {{ reverse }}{{#if overlay }} overlay{{/if}} {{#if noSpacerBottom}}no-spacer-bottom{{/if}}{{#if background}} shadow-hover{{/if}}">
  <div class="thumbnail-container{{#unless vertical }} col-50{{/unless}}">
    <div class="thumbnail" style="background-image:url({{ thumbnail }})">&nbsp;</div>
  </div>

  <div class="detail{{#unless vertical }} col-50{{/unless}}{{#if background }} padded{{/if}}"{{#if background }} style="background-color:{{ background }};"{{/if}}>
    {{#if title }}
      <h2{{#if smallTitle }} class="small"{{/if}}>
        {{#if link }}
          <a href="{{ link }}" title="{{ title }}">
        {{/if }}

        {{ title }}

        {{#if link }}
          </a>
        {{/if }}
      </h2>
    {{/if }}

    {{#if subTitle }}
      <p class="small">
        {{#if subTitleLink }}
          <a href="{{ subTitleLink }}" title="{{ subTitle}}">
        {{/if}}

        {{ subTitle }}

        {{#if subTitleLink }}
          </a>
        {{/if}}
      </p>
    {{/if}}

    {{#if text }}
      <p>{{ text }}</p>
    {{/if}}

    {{#if footer }}
      <p class="item-footer">
        <span class="price">
          {{#if discPrice }}
            <span>{{ discPrice }}</span>
          {{/if}}

          {{#if price }}
            <span{{#if discPrice }} class="through"{{/if}}>{{ price }}</span>
          {{/if}}
        </span>

        {{#if discount }}
          <span class="discount">
            <span class="discount-text">{{ discount }}</span>
        {{/if}}

        {{#if rating }}
          <span class="rating" style="width:calc(20px * {{ rating }})">
            {{> svg/svg icon = "star" }}
            {{> svg/svg icon = "star" }}
            {{> svg/svg icon = "star" }}
            {{> svg/svg icon = "star" }}
            {{> svg/svg icon = "star" }}
          </span>
        {{/if}}

        {{#if discount }}
          </span>
        {{/if}}

        {{#if buttonText }}
          <a href="{{#if buttonLink}}{{ buttonLink }}{{/if}}{{#unless buttonLink}}{{ link }}{{/unless}}" title="{{ buttonText }}" class="btn {{buttonClass}}">{{ buttonText }}</a>
        {{/if}}
      </p>
    {{/if}}

    {{#if buttonText }}
      {{#unless footer }}
        <p><a href="{{#if buttonLink}}{{ buttonLink }}{{/if}}{{#unless buttonLink}}{{ link }}{{/unless}}" title="{{ buttonText }}" class="btn {{buttonClass}}">{{ buttonText }}</a></p>
      {{/unless}}
    {{/if}}
  </div>
</div>
