{{!--
* slidesToShow
* slidesToScroll
* speed: slider speed
* autoplaySpeed: autoplay speed
--}}
<div class="slick-carousel carousel show-{{slidesToShow}}" data-show="{{slidesToShow}}" data-scroll="{{slidesToScroll}}" data-slide-speed="{{speed}}" data-speed="{{autoplaySpeed}}">
  {{#> carousel-items }}
    No carousel item, multi item available
  {{/carousel-items }}
</div>
